.c-card {
    @include e-card;
    display: flex;
    padding: spacing("normal") ;
    width: 100%;
    align-items: flex-start;  
    flex-wrap: wrap; 
}

      .c-card__title {
        flex-grow: 1;
        color: $color-title-subdued;
        font-weight: normal;
        margin-left: spacing();
        font-size: 17px;
    }
    .c-card__desc {
        font-size: 14px;
        width: 100%;
    }
    .c-card--no-desc{
            align-items: center;
            .c-card__title{
                margin-bottom: 0px;
            }
        }
  